
        <h1 class="score"></h1>
        <div class="header">
          <h1 class="questionNumber"></h1>
          <h2 class="question"></h2>
        </div>
    
        <form name="form1">
          <div class="answers">
            <input type="radio" name="radioChoice"> <label></label><br>
            <input type="radio" name="radioChoice"> <label></label><br>
            <input type="radio" name="radioChoice"> <label></label><br>
            <input type="radio" name="radioChoice"> <label></label><br>
            <div class="button"><button type="button" onclick="next()">Next</button></div>
            <div class="button"><button type="button" onclick="back()">Back</button></div>
          </div>
        </form>
        <div>
          <button class="btn btn-lg btn-social btn-facebook" style="font-size: 1.5em;" (click)="onFacebookLoginClick()">
              <i class="fa fa-facebook fa-fw"></i>Sign in with Facebook
          </button>
        </div>