.button{
    position: relative;
    bottom: 16px;
    padding: 0px 38px;
}
  label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: bold !important;
      line-height: 34px;
  }
  
  .slide {
      display: none;
  }
  .active-slide {
      display: block;
  }
  .slider-nav {
      text-align: center;
      margin-top: 20px;
  }
  .prev {
      display: inline-block;
      margin: 10px;
  }
  .next {
      display: inline-block;
      margin: 10px;
  }
  
  input[type=checkbox], input[type=radio] {
      /* margin: 4px 0 0; */
      margin-top: 1px\9;
      line-height: normal;
      /* border-radius: 78px; */
      width: 40px !important;
      height: 15px !important;
  }
  p {
      margin: 0 0 10px;
      text-align: justify;
      font-family:sans-serif;
  
  }
  .container {
      height: auto;
      width: 100%;
      padding: 0;
  }
  
  .btn-primary {
      color: #fff;
      background-color: #00BFFF !important;
      border-color: #00BFFF !important;
  }
  
    .calc-card {
      width: 280px;
      padding: 0;
    }
    
    .buttons {
      margin: 0 auto;
    }
    
    .row {
      margin: 4px;
    }
    
    .calc-button {
      height: 37px !important;
      font-size: 21px;
      width: 54px;
      background-color: lightpink;
      border: 1px solid black;
    }
    
    .calc-button-long {
      width: 113px;
    }
    
    .mdl-textfield {
      width: 85% !important;
      padding: 0px;
    }
    
    .mdl-textfield input[type="text"] {
      text-align: right;
      font-size: 3em;
      padding: 0px;
      width: 98%;
    }
    
    .mdl-textfield input[type="text"]:disabled {
      color: #000;
    }
  
    .row[_ngcontent-iru-22] {
      margin: 6px !important;
  }
  .mdl-textfield[_ngcontent-rsf-22] input[type="text"][_ngcontent-rsf-22]:disabled {
      color: #000;
      width: 98% !important;
  }
  .mdl-button--accent.mdl-button--accent {
      background-color: rgb(255,64,129);
      color: white;
      border: 1px solid rgb(255,64,129);
  
  }
  .mdl-button.mdl-button--colored {
      background-color: rgb(63,81,181);
      color: white;
      border: 1px solid rgb(63,81,181);
  }
  
  .btn[disabled] {
      cursor: not-allowed;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: .65;
      background: white;
      padding: 7px 22px;
      color: black;
      font-size: 15px;
      border: 1px solid darkgray;
  }
  .btn {
      padding: 6px 22px;
      background: deepskyblue;
      color: white;
      font-family:sans-serif;
  }

  .badge {
    color: black !important;
    border-radius: 1px !important;
}

.flag input[type="radio"], .flag input[type="checkbox"] {
	display: none;
}

.flag input[type="radio"]+span:before, .flag input[type="checkbox"]+span:before
	{
	font-family: 'FontAwesome';
	padding-right: 3px;
	font-size: 20px;
}

.flag input[type="radio"]+span:before {
	content: "\f10c"; /* circle-blank */
}

.flag input[type="radio"]:checked+span:before {
	content: "\f111"; /* circle */
}

.flag input[type="checkbox"]+span:before {
	content: "\f11d"; /* check-empty */
}

.flag input[type="checkbox"]:checked+span:before {
	content: "\f024"; /* check */
}

/*--------------------------End of flag css-----------------------------------------*/

/*--------------------------radio button like button-----------------------------------------*/
#radio_button {
	margin: 0px;
	float: left;
}

#radio_button label {
	float: left;
	width: 100px;
	/* margin: 4px; */
	background-color: #EFEFEF;
	/* border-radius: 4px; */
	/* border: 1px solid #D0D0D0; */
	overflow: auto;
}

#radio_button label span {
	text-align: center;
	font-size: 18px;
	padding: 2px 0px;
	display: block;
	cursor: pointer;
}

#radio_button label input {
	position: absolute;
	top: -20px;
	display: none;
}

#radio_button input:checked+span:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: lighter;
	content: "\f00c";
	font-size: 17px;
}

/*#radio_button input:checked + span {
    background-color:#6C7A89;
    color:#F7F7F7;
}*/
#radio_button .high {
	background-color: #00a65a;
	color: #FFF;
}

#radio_button .high input:checked+span {
	background-color: #16A085 !important;
	color: #FFF;
}

#radio_button .medium {
	background-color: #f39c12;
	color: #FFF;
}

#radio_button .medium input:checked+span {
	background-color: #F7CA18 !important;
	color: #FFF;
}

#radio_button .low {
	background-color: #dd4b39;
	color: #FFF;
}

#radio_button .low input:checked+span {
	background-color: #CF000F !important;
	color: #FFF;
}


textarea {
    overflow: auto;
    border: 1px dotted #0000ff5e !important;
    border-radius: 5px !important;
}
h2 {
    font-size: 30px;
    font-family: monospace !important;
    font-style: italic !important;
}

#calculator {
    width: 280px; 
    padding: 10px 3px 0px 3px; 
    border: 1px solid #d5d5d5; 
    background: #f2f2f2;
  }
  .display {
    min-height: 65px; background: #ffffff; border: 1px solid #a0a0a0; margin-bottom: 15px;
    padding: 10px; text-align: right;
  }
  
  .display .main {
    font-size: 35px;
  }
  .display .sub {
    font-size: 20px;
  }
  
  .numbers {
    width: 165px;
  }
  .controlPanel {
    position: relative; 
    padding-right: 40px;
  }

  .numbers span {
    display: inline-block; padding: 4px 0px; background: #e5e5e5; color: blue;
    border: 1px solid rgba(255,255,255,.15); font-weight: normal; margin-right: 10px;
    margin-bottom: 10px; font-size: 20px; width: 40px; text-align: center;
    cursor: pointer;
  }
  .operation span {
    display: block; padding: 4px 0px; background: #808080; color: white;
    border: 1px solid rgba(255,255,255,.15); font-weight: normal; margin-bottom: 10px;
    font-size: 20px; width: 50px; text-align: center;
    cursor: pointer;
  }
  #equalTo {
    display:block; 
    background: blue; 
    font-size: 20px; 
    font-weight: bold;
    color: #ffffff;
     padding: 4px 0px; 
     width: 45px; 
     text-align: center;
    position: absolute; 
    bottom: 10px; 
    right: 115px; 
    border: 1px solid blue;
    cursor: pointer;
  }
  
  .numbers span:hover, .operation span:hover, #equalTo:hover {
    border-color: green;
    box-shadow: gold;
  }
  
  .f_l {float: left;}
  .f_r {float: right;}
  .clearfix:after {clear: both;}
  .clearfix:before,
  .clearfix:after {display: table; content: " ";}