<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    
      <header class="main-header">
        <!-- Logo -->
        <a routerLink="/start" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><img src="../assets/images/gtsoft.png"></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>GT</b>SOFTPREP</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
    
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <!-- end message -->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Sales Department
                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                          page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="../assets/images/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{this.email}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
    
                    <p>
                     {{this.email}}
                    </p>
                  </li>
                 
                  <li class="user-footer">
                    <div class="pull-left">
                            <a routerLink="/profile" class="btn btn-default btn-flat" style="color: white;
                            background: orange;border: 1px solid orange;">Profile</a>
                    </div>
                    <div class="pull-right">
                            <a (click)="logout()" class="btn btn-default btn-flat" style="color: white;
                            background: #00a65a;border: 1px solid #00a65a;">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{this.username}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
        
         
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
              <a routerLink="/dashboard">
                <i class="fa fa-home"></i> <span>Home</span>
              </a>
            
            </li>
            <li class="treeview">
              <a routerLink="/lessons">
                <i class="fa fa-files-o"></i>
               <span>Lessons</span>              
              </a>
            </li>
            <li>
              <a routerLink="/videos">
                <i class="fa fa-video-camera" aria-hidden="true"></i> <span>Videos</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-green">new</small>
                </span>
              </a>
            </li>
            <li class="treeview">
              <a routerLink="/practicetest">
                <i class="fa fa-bullhorn"></i>
                <span>Practice Test</span>
              </a>            
            </li>
            <li class="treeview">
              <a routerLink="/full-length">
                <i class="fa fa-edit"></i>
                <span>Full Length Test</span>              
              </a> 
            </li>
            <li class="treeview">
              <a routerLink="/review">
                <i class="fa fa-bar-chart-o"></i> <span>Review</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a routerLink="/"><i class="fa fa-circle-o"></i> Practice Analysis</a></li>
                <li><a routerLink="/"><i class="fa fa-circle-o"></i> Test Analysis</a></li>
                <li><a routerLink="/"><i class="fa fa-circle-o"></i> Session Review</a></li>
              </ul>
            </li>
         
            <li>
              <a routerLink="/">
                <i class="fa fa-calendar"></i> <span>Calendar</span>      
              </a>
            </li>
            <li>
              <a routerLink="/">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
              </a>
            </li>
            <li class="treeview">
              <a routerLink="/feed-back">
                <i class="fa fa-comment"></i> <span>Feed-Back Form</span>             
              </a>
            </li>
           
            <li><a routerLink="softprep.in"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
           
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content">
           <div class="container-fluid" id="page-body">
              <meta name="layout" content="main">
              <!--- Maths and verbal boxes block -->
              <div class="row">
                 <!-- Maths box in dashboard-->
                 <div class="col-sm-6">
                    <div class="box">
                       <div class="box-header">
                          <h3 class="box-title">Math</h3>
                       </div>
                       <div class="box-body">
                          <div class="col-sm-12">
                             <div class="info-box bg-aqua">
                                <span class="info-box-icon"><i class="fa fa-calculator"></i></span>
                                <div class="info-box-content">
                                   <span class="info-box-text">Questions Unlocked</span>
                                   <span class="info-box-number">1.2%</span>
                                   <div class="progress">
                                      <div class="progress-bar" style="width: 1.1764705900%"></div>
                                   </div>
                                   <span class="progress-description">
                                   </span>
                                </div>
                                <!-- /.info-box-content -->
                             </div>
                             <!-- /.info-box -->
                          </div>
                       </div>
                       <div class="box-footer">
                          <div class="col-sm-4">
                             <small>Questions Correct</small>
                             <h2 class="text-aqua">
                                0%
                             </h2>
                          </div>
                          <div class="col-sm-4">
                             <small> Questions practiced</small>
                             <h2 class="text-aqua">
                                13
                             </h2>
                          </div>
                          <div class="col-sm-4">
                             <small> Avg Time Per Question</small>
                             <h2 class="text-aqua">
                                00:00:48
                             </h2>
                          </div>
                       </div>
                    </div>
                    <!-- /.box (chat box) -->
                 </div>
                 <!--End of math column-->
                 <!-- Verbal box in dashboard-->
                 <div class="col-sm-6">
                    <div class="box">
                       <div class="box-header">
                          <h3 class="box-title">Verbal</h3>
                       </div>
                       <div class="box-body">
                          <div class="col-md-12">
                             <div class="info-box bg-yellow">
                                <span class="info-box-icon"><i class="fa fa-edit"></i></span>
                                <div class="info-box-content">
                                   <span class="info-box-text">Questions Unlocked</span>
                                   <span class="info-box-number">0.0%</span>
                                   <div class="progress">
                                      <div class="progress-bar" style="width: 0%"></div>
                                   </div>
                                   <span class="progress-description">
                                   </span>
                                </div>
                                <!-- /.info-box-content -->
                             </div>
                             <!-- /.info-box -->
                          </div>
                       </div>
                       <div class="box-footer">
                          <div class="col-sm-4">
                             <small>Questions Correct</small>
                             <h2 class="text-yellow">
                                0%
                             </h2>
                          </div>
                          <div class="col-sm-4">
                             <small> Questions practiced</small>
                             <h2 class="text-yellow">
                                0
                             </h2>
                          </div>
                          <div class="col-sm-4">
                             <small> Avg Time Per Question</small>
                             <h2 class="text-yellow">
                                00:00:00
                             </h2>
                          </div>
                       </div>
                    </div>
                    <!-- /.box (chat box) -->
                 </div>
                 <!--End of math column-->
              </div>
              <!---row end for math and verbal box-->
              <!---Strenghts and weakness block-->
              <div class="row">
                 <!-- Maths box in dashboard-->
                 <div class="col-sm-6">
                    <div class="box">
                       <div class="box-header">
                          <h3 class="box-title">Your Good At</h3>
                       </div>
                       <hr>
                       <div class="box-body no-padding">
                          <div class="col-md-12">
                             <div class="progress-group">
                                <span class="progress-text">Arithmetic</span>
                                <span class="progress-number"><b>0%</b></span>
                                <div class="progress sm">
                                   <div class="progress-bar progress-bar bg-red" style="width: 0%"></div>
                                </div>
                             </div>
                             <div class="progress-group">
                                <span class="progress-text">geometry</span>
                                <span class="progress-number"><b>0%</b></span>
                                <div class="progress sm">
                                   <div class="progress-bar progress-bar bg-red" style="width: 0%"></div>
                                </div>
                             </div>
                             <div class="progress-group">
                                <span class="progress-text">algebra</span>
                                <span class="progress-number"><b>0%</b></span>
                                <div class="progress sm">
                                   <div class="progress-bar progress-bar bg-red" style="width: 0%"></div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- /.box (chat box) -->
                 <!--End of math column-->
                 <!-- Verbal box in dashboard-->
                 <div class="col-sm-6">
                    <div class="box">
                       <div class="box-header">
                          <h3 class="box-title">Need To Concentrate On</h3>
                       </div>
                       <hr>
                       <div class="box-body no-padding">
                          <div class="col-md-12">
                             <div class="progress-group">
                                <span class="progress-text">Arithmetic</span>
                                <span class="progress-number"><b>0%</b></span>
                                <div class="progress sm">
                                   <div class="progress-bar progress-bar bg-red" style="width: 0%"></div>
                                </div>
                             </div>
                             <div class="progress-group">
                                <span class="progress-text">geometry</span>
                                <span class="progress-number"><b>0%</b></span>
                                <div class="progress sm">
                                   <div class="progress-bar progress-bar bg-red" style="width: 0%"></div>
                                </div>
                             </div>
                             <div class="progress-group">
                                <span class="progress-text">algebra</span>
                                <span class="progress-number"><b>0%</b></span>
                                <div class="progress sm">
                                   <div class="progress-bar progress-bar bg-red" style="width: 0%"></div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    <!-- /.box (chat box) -->
                 </div>
                 <!--End of math column-->
              </div>
              <!--lessons recomended block-->
              <div class="row">
                 <!-- Maths box in dashboard-->
                 <div class="col-sm-6">
                    <div class="box">
                       <div class="box-header">
                          <h3 class="box-title">Recommended Lessons Based On Your Skills</h3>
                       </div>
                       <div class="box-body">
                          <li class="list-group-item">
                             <span class="pull-right">
                             <a href="/lesson/lessonDetails/16" onclick="loading();pushURL($(this).attr('href'));jQuery.ajax({type:'POST', url:'/lesson/lessonDetails/16',success:function(data,textStatus){jQuery('#page-body').html(data);},error:function(XMLHttpRequest,textStatus,errorThrown){},complete:function(XMLHttpRequest,textStatus){onComplete()}});return false;" id="16" params="" class="subless">
                             Read now!
                             </a>
                             </span>Read <a class="btn link-lesson" href="#" style="font-size: 13px; padding: 0 0 4px;">ages</a> in  Word problems
                          </li>
                          <li class="list-group-item">
                             <span class="pull-right">
                             <a href="/lesson/lessonDetails/14" onclick="loading();pushURL($(this).attr('href'));jQuery.ajax({type:'POST', url:'/lesson/lessonDetails/14',success:function(data,textStatus){jQuery('#page-body').html(data);},error:function(XMLHttpRequest,textStatus,errorThrown){},complete:function(XMLHttpRequest,textStatus){onComplete()}});return false;" id="14" params="" class="subless">
                             Read now!
                             </a>
                             </span>Read <a class="btn link-lesson" href="#" style="font-size: 13px; padding: 0 0 4px;">fractions</a> in  Number Systems
                          </li>
                          <li class="list-group-item">
                             <span class="pull-right">
                             <a href="/lesson/lessonDetails/55" onclick="loading();pushURL($(this).attr('href'));jQuery.ajax({type:'POST', url:'/lesson/lessonDetails/55',success:function(data,textStatus){jQuery('#page-body').html(data);},error:function(XMLHttpRequest,textStatus,errorThrown){},complete:function(XMLHttpRequest,textStatus){onComplete()}});return false;" id="55" params="" class="subless">
                             Read now!
                             </a>
                             </span>Read <a class="btn link-lesson" href="#" style="font-size: 13px; padding: 0 0 4px;">circles</a> in  Quadrilaterals and circles
                          </li>
                          <li class="list-group-item">
                             <span class="pull-right">
                             <a href="/lesson/lessonDetails/13" onclick="loading();pushURL($(this).attr('href'));jQuery.ajax({type:'POST', url:'/lesson/lessonDetails/13',success:function(data,textStatus){jQuery('#page-body').html(data);},error:function(XMLHttpRequest,textStatus,errorThrown){},complete:function(XMLHttpRequest,textStatus){onComplete()}});return false;" id="13" params="" class="subless">
                             Read now!
                             </a>
                             </span>Read <a class="btn link-lesson" href="#" style="font-size: 13px; padding: 0 0 4px;">integers</a> in  Number Systems
                          </li>
                          <li class="list-group-item">
                             <span class="pull-right">
                             <a href="/lesson/lessonDetails/12" onclick="loading();pushURL($(this).attr('href'));jQuery.ajax({type:'POST', url:'/lesson/lessonDetails/12',success:function(data,textStatus){jQuery('#page-body').html(data);},error:function(XMLHttpRequest,textStatus,errorThrown){},complete:function(XMLHttpRequest,textStatus){onComplete()}});return false;" id="12" params="" class="subless">
                             Read now!
                             </a>
                             </span>Read <a class="btn link-lesson" href="#" style="font-size: 13px; padding: 0 0 4px;">number line</a> in  Number Systems
                          </li>
                          <li class="list-group-item">
                             <span class="pull-right">
                             <a href="/lesson/lessonDetails/30" onclick="loading();pushURL($(this).attr('href'));jQuery.ajax({type:'POST', url:'/lesson/lessonDetails/30',success:function(data,textStatus){jQuery('#page-body').html(data);},error:function(XMLHttpRequest,textStatus,errorThrown){},complete:function(XMLHttpRequest,textStatus){onComplete()}});return false;" id="30" params="" class="subless">
                             Read now!
                             </a>
                             </span>Read <a class="btn link-lesson" href="#" style="font-size: 13px; padding: 0 0 4px;">Decimals</a> in  Number Systems
                          </li>
                       </div>
                    </div>
                    <!-- /.box (chat box) -->
                 </div>
                 <!--End of math column-->
                 <!-- Verbal box in dashboard-->
                 <div class="col-sm-6">
                    <!-- LINE CHART -->
                    <div class="box">
                       <div class="box-header with-border">
                          <h3 class="box-title">Full lengthTest Performance</h3>
                       </div>
                       <div class="box-body">
                          <div id="container" style="min-width: 310px; height: 240px; margin: 0 auto;width:100%;margin-bottom: 15px;" data-highcharts-chart="0">
                             <div class="highcharts-container" id="highcharts-0" style="position: relative; overflow: hidden; width: 557px; height: 240px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="557" height="240">
                                   <desc>Created with Highcharts 4.0.1</desc>
                                   <defs>
                                      <clipPath id="highcharts-1">
                                         <rect x="0" y="0" width="384" height="125"></rect>
                                      </clipPath>
                                   </defs>
                                   <rect x="0" y="0" width="557" height="240" strokeWidth="0" fill="#FFFFFF" class=" highcharts-background"></rect>
                                   <g class="highcharts-grid" zIndex="1"></g>
                                   <g class="highcharts-grid" zIndex="1">
                                      <path fill="none" d="M 74 74.5 L 458 74.5" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path>
                                      <path fill="none" d="M 74 117.5 L 458 117.5" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path>
                                      <path fill="none" d="M 74 158.5 L 458 158.5" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path>
                                      <path fill="none" d="M 74 200.5 L 458 200.5" stroke="#C0C0C0" stroke-width="1" zIndex="1" opacity="1"></path>
                                   </g>
                                   <g class="highcharts-axis" zIndex="2">
                                      <path fill="none" d="M 202.5 200 L 202.5 210" stroke="#C0D0E0" stroke-width="1" opacity="1"></path>
                                      <path fill="none" d="M 328.5 200 L 328.5 210" stroke="#C0D0E0" stroke-width="1" opacity="1"></path>
                                      <path fill="none" d="M 453.5 200 L 453.5 210" stroke="#C0D0E0" stroke-width="1" opacity="1"></path>
                                      <path fill="none" d="M 77.5 200 L 77.5 210" stroke="#C0D0E0" stroke-width="1" opacity="1"></path>
                                      <path fill="none" d="M 74 200.5 L 458 200.5" stroke="#C0D0E0" stroke-width="1" zIndex="7" visibility="visible"></path>
                                   </g>
                                   <g class="highcharts-axis" zIndex="2">
                                      <text x="28.09375" zIndex="7" text-anchor="middle" transform="translate(0,0) rotate(270 28.09375 137.5)" class=" highcharts-yaxis-title" style="color:#707070;fill:#707070;" visibility="visible" y="137.5">Score</text>
                                   </g>
                                   <g class="highcharts-series-group" zIndex="3">
                                      <g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(74,75) scale(1 1)" clip-path="url(#highcharts-1)">
                                         <path fill="none" d="M 3.7647058823529416 110 L 129.25490196078434 111.25 L 254.74509803921572 112.5 L 380.23529411764713 110.83333333333333" stroke="rgb(247, 163, 92)" stroke-width="2" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path>
                                         <path fill="none" d="M -6.235294117647058 110 L 3.7647058823529416 110 L 129.25490196078434 111.25 L 254.74509803921572 112.5 L 380.23529411764713 110.83333333333333 L 390.23529411764713 110.83333333333333" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" zIndex="2" class=" highcharts-tracker"></path>
                                      </g>
                                      <g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(74,75) scale(1 1)" clip-path="none">
                                         <path fill="rgb(247, 163, 92)" d="M 380 106.83333333333333 C 385.328 106.83333333333333 385.328 114.83333333333333 380 114.83333333333333 C 374.672 114.83333333333333 374.672 106.83333333333333 380 106.83333333333333 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                         <path fill="rgb(247, 163, 92)" d="M 254 108.5 C 259.328 108.5 259.328 116.5 254 116.5 C 248.672 116.5 248.672 108.5 254 108.5 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                         <path fill="rgb(247, 163, 92)" d="M 129 107.25 C 134.328 107.25 134.328 115.25 129 115.25 C 123.672 115.25 123.672 107.25 129 107.25 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                         <path fill="rgb(247, 163, 92)" d="M 3 106 C 8.328 106 8.328 114 3 114 C -2.3280000000000003 114 -2.3280000000000003 106 3 106 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                      </g>
                                      <g class="highcharts-series" visibility="visible" zIndex="0.1" transform="translate(74,75) scale(1 1)" clip-path="url(#highcharts-1)">
                                         <path fill="none" d="M 3.7647058823529416 112.08333333333333 L 129.25490196078434 112.5 L 254.74509803921572 112.08333333333333 L 380.23529411764713 107.91666666666666" stroke="rgb(124, 181, 236)" stroke-width="2" zIndex="1" stroke-linejoin="round" stroke-linecap="round"></path>
                                         <path fill="none" d="M -6.235294117647058 112.08333333333333 L 3.7647058823529416 112.08333333333333 L 129.25490196078434 112.5 L 254.74509803921572 112.08333333333333 L 380.23529411764713 107.91666666666666 L 390.23529411764713 107.91666666666666" stroke-linejoin="round" visibility="visible" stroke="rgba(192,192,192,0.0001)" stroke-width="22" zIndex="2" class=" highcharts-tracker"></path>
                                      </g>
                                      <g class="highcharts-markers highcharts-tracker" visibility="visible" zIndex="0.1" transform="translate(74,75) scale(1 1)" clip-path="none">
                                         <path fill="rgb(124, 181, 236)" d="M 380 103.91666666666666 L 384 107.91666666666666 380 111.91666666666666 376 107.91666666666666 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                         <path fill="rgb(124, 181, 236)" d="M 254 108.08333333333333 L 258 112.08333333333333 254 116.08333333333333 250 112.08333333333333 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                         <path fill="rgb(124, 181, 236)" d="M 129 108.5 L 133 112.5 129 116.5 125 112.5 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                         <path fill="rgb(124, 181, 236)" d="M 3 108.08333333333333 L 7 112.08333333333333 3 116.08333333333333 -1 112.08333333333333 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                      </g>
                                   </g>
                                   <text x="279" text-anchor="middle" class="highcharts-title" zIndex="4" style="color:#333333;font-size:18px;fill:#333333;width:493px;" y="25">
                                      <tspan>Math Min &amp; Max Scores: 130.0 &amp; 136.0 | Verbal Min &amp;</tspan>
                                      <tspan dy="22" x="279">Max Scores: 130.0 &amp; 141.0</tspan>
                                   </text>
                                   <g class="highcharts-legend" zIndex="7" transform="translate(478,98)">
                                      <g zIndex="1">
                                         <g>
                                            <g class="highcharts-legend-item" zIndex="1" transform="translate(8,3)">
                                               <path fill="none" d="M 0 11 L 16 11" stroke-width="2" stroke="rgb(247, 163, 92)"></path>
                                               <path fill="rgb(247, 163, 92)" d="M 8 7 C 13.328 7 13.328 15 8 15 C 2.6719999999999997 15 2.6719999999999997 7 8 7 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                               <text x="21" y="15" style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;" text-anchor="start" zIndex="2">Quant</text>
                                            </g>
                                            <g class="highcharts-legend-item" zIndex="1" transform="translate(8,21)">
                                               <path fill="none" d="M 0 11 L 16 11" stroke-width="2" stroke="rgb(124, 181, 236)"></path>
                                               <path fill="rgb(124, 181, 236)" d="M 8 7 L 12 11 8 15 4 11 Z" stroke="#FFFFFF" stroke-width="0.00001"></path>
                                               <text x="21" y="15" style="color:#333333;font-size:12px;font-weight:bold;cursor:pointer;fill:#333333;" text-anchor="start" zIndex="2">Verbal</text>
                                            </g>
                                         </g>
                                      </g>
                                   </g>
                                   <g class="highcharts-axis-labels highcharts-xaxis-labels" zIndex="7">
                                      <text x="77.76470588235294" text-anchor="middle" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" y="220" opacity="1">0</text>
                                      <text x="203.25490196078434" text-anchor="middle" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" y="220" opacity="1">1</text>
                                      <text x="328.7450980392157" text-anchor="middle" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" y="220" opacity="1">2</text>
                                      <text x="454.23529411764713" text-anchor="middle" style="color:#606060;cursor:default;font-size:11px;fill:#606060;" y="220" opacity="1">3</text>
                                   </g>
                                   <g class="highcharts-axis-labels highcharts-yaxis-labels" zIndex="7">
                                      <text x="59" text-anchor="end" style="width:164px;color:#606060;cursor:default;font-size:11px;fill:#606060;" y="203.5" opacity="1">100</text>
                                      <text x="59" text-anchor="end" style="width:164px;color:#606060;cursor:default;font-size:11px;fill:#606060;" y="161.83333333333331" opacity="1">200</text>
                                      <text x="59" text-anchor="end" style="width:164px;color:#606060;cursor:default;font-size:11px;fill:#606060;" y="120.16666666666666" opacity="1">300</text>
                                      <text x="59" text-anchor="end" style="width:164px;color:#606060;cursor:default;font-size:11px;fill:#606060;" y="78.5" opacity="1">400</text>
                                   </g>
                                   <g class="highcharts-tooltip" zIndex="8" style="cursor:default;padding:0;white-space:nowrap;" transform="translate(0,-9999)">
                                      <path fill="none" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" stroke-width="5" isShadow="true" stroke="black" stroke-opacity="0.049999999999999996" transform="translate(1, 1)"></path>
                                      <path fill="none" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" stroke-width="3" isShadow="true" stroke="black" stroke-opacity="0.09999999999999999" transform="translate(1, 1)"></path>
                                      <path fill="none" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" stroke-width="1" isShadow="true" stroke="black" stroke-opacity="0.15" transform="translate(1, 1)"></path>
                                      <path fill="rgba(249, 249, 249, .85)" d="M 3 0 L 13 0 C 16 0 16 0 16 3 L 16 13 C 16 16 16 16 13 16 L 3 16 C 0 16 0 16 0 13 L 0 3 C 0 0 0 0 3 0" stroke-width="1"></path>
                                      <text x="8" zIndex="1" style="font-size:12px;color:#333333;fill:#333333;" y="21"></text>
                                   </g>
                                   <text x="547" text-anchor="end" zIndex="8" style="cursor:pointer;color:#909090;font-size:9px;fill:#909090;" y="235"></text>
                                </svg>
                             </div>
                          </div>
                       </div>
                       <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                 </div>
                 <!--End of math column-->
              </div>
           </div>
        </section>
     </div>
      <!-- /.content-wrapper -->
     <!-- <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io/">Almsaeed Studio</a>.</strong> All rights
        reserved.
      </footer>  -->
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
    
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
    
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
    
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
    
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
    
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
    
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
             
            </ul>
            <!-- /.control-sidebar-menu -->
    
            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->
    
          </div>
          <!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
          <!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
    
                <p>
                  Some information about this general settings option
                </p>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked>
                </label>
    
                <p>
                  Other sets of options are available
                </p>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked>
                </label>
    
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div>
              <!-- /.form-group -->
    
              <h3 class="control-sidebar-heading">Chat Settings</h3>
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right">
                </label>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div>
              <!-- /.form-group -->
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

</body>