<div class="row" style="background: #ECF0F5;
height: 635px;">
       <div class="text">
          <h1 style=" font-size: 36px;
          text-align: center;
          font-family: sans-serif;">AWA Section Instructions</h1>
              <h3>2 Questions</h3>
               <h3>60 Minutes</h3>
              <p>2 essays, 30 minutes each The writing section of the GRE is meant to measure your analytical reasoning, organization, and analysis skills. The two essays include an issue essay and an argument essay. There are no right or wrong answers to the essay questions, and the essays will be read and scored by 2 (and possibly 3) readers. For more information about the essay section, and for writing tips, go to the essay tutorial section.</p>
        
         <a routerLink="/test"><button class="btn btn-primary">start</button></a>
        </div>
       
  </div>
  <div id="surveyElement"></div>

  <div id="result"></div>