<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    
      <header class="main-header">
        <!-- Logo -->
        <a routerLink="/start" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><img src="../assets/images/gtsoft.png"></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>GT</b>SOFTPREP</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
    
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <!-- end message -->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Sales Department
                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                          page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="../assets/images/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{this.email}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
    
                    <p>
                     {{this.email}}
                    </p>
                  </li>
                 
                  <li class="user-footer">
                    <div class="pull-left">
                            <a routerLink="/profile" class="btn btn-default btn-flat" style="color: white;
                            background: orange;border: 1px solid orange;">Profile</a>
                    </div>
                    <div class="pull-right">
                            <a (click)="logout()" class="btn btn-default btn-flat" style="color: white;
                            background: #00a65a;border: 1px solid #00a65a;">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{this.username}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
        
         
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
              <a routerLink="/dashboard">
                <i class="fa fa-home"></i> <span>Home</span>
              </a>
            
            </li>
            <li class="treeview">
              <a routerLink="/lessons">
                <i class="fa fa-files-o"></i>
               <span>Lessons</span>              
              </a>
            </li>
            <li>
              <a routerLink="/videos">
                <i class="fa fa-video-camera" aria-hidden="true"></i> <span>Videos</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-green">new</small>
                </span>
              </a>
            </li>
            <li class="treeview">
              <a routerLink="/practicetest">
                <i class="fa fa-bullhorn"></i>
                <span>Practice Test</span>
              </a>            
            </li>
            <li class="treeview">
              <a routerLink="/full-length">
                <i class="fa fa-edit"></i>
                <span>Full Length Test</span>              
              </a> 
            </li>
            <li class="treeview">
              <a routerLink="/review">
                <i class="fa fa-bar-chart-o"></i> <span>Review</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a routerLink="/"><i class="fa fa-circle-o"></i> Practice Analysis</a></li>
                <li><a routerLink="/"><i class="fa fa-circle-o"></i> Test Analysis</a></li>
                <li><a routerLink="/"><i class="fa fa-circle-o"></i> Session Review</a></li>
              </ul>
            </li>
         
            <li>
              <a routerLink="/">
                <i class="fa fa-calendar"></i> <span>Calendar</span>      
              </a>
            </li>
            <li>
              <a routerLink="/">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
              </a>
            </li>
            <li class="treeview">
              <a routerLink="/feed-back">
                <i class="fa fa-comment"></i> <span>Feed-Back Form</span>             
              </a>
            </li>
           
            <li><a routerLink="softprep.in"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
           
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
    
    <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
              <section class="content-header">
               
              </section>
              <div class="container">
 
              
                    <div class="container-fluid" id="page-body">
                            <link rel="stylesheet" href="/theme/js/datepicker/datepicker.css" type="text/css">
                            <div class="row">
                               <div class="col-sm-12">
                                  <div class="box">
                                     <div class="box-header">
                                        <h4>Profile Settings</h4>
                                        <hr>
                                     </div>
                                     <div class="box-body">
                                        <div class="container-fluid mt-20">
                                           <div class="row">
                                               <div class="text">
                                                 <div class="dib" style="text-align: center">Subscription Plan 
                                                    <span class="label bg-success" style="font-size: 12px; margin-left: 5px;">PREMIUM_6</span>
                                                 </div>
                                                 <div class="dib ml-20 pl_20 bl" style="text-align: center">Subscription Expires on <span class="label label-danger">
                                                    29-07-2018</span>
                                                 </div>
                                               </div>
                                              <div class="col-sm-8 col-sm-offset-2 mt-20">
                                                 <div class="panel with-nav-tabs panel-primary">
                                                    <div class="panel-heading">
                                                       <ul class="nav nav-tabs">
                                                          <li class="active"><a href="#tab1primary" data-toggle="tab" aria-expanded="true">Edit Settings</a></li>
                                                          <li class=""><a href="#tab2primary" data-toggle="tab" aria-expanded="false">Change Password</a></li>
                                                       </ul>
                                                    </div>
                                                    <div class="panel-body">
                                                       <div class="tab-content">
                                                          <div class="tab-pane fade active in" id="tab1primary">
                                                             <div class="col-sm-6 col-sm-offset-3">
                                                                <form action="/dashboard?id=userform" method="post" class="form-horizontal">
                                                                   <input type="hidden" name="testperfo" value="" id="testperfo">
                                                                   <input type="hidden" name="profile" value="" id="profile">
                                                                   <input type="hidden" name="url" value="" id="url">
                                                                   <br>
                                                                   <div class="row">
                                                                      <div class="col-sm-6" style="position: relative;right: 77px;">
                                                                         <div class="form-group">
                                                                            <label>Name:</label>
                                                                            <div>
                                                                               <input type="text" class="form-control" placeholder="First Name" id="first_name" value="shiva reddy" name="firstName" data-type="alpha" data-trigger="change" data-required="true" maxlength="50">
                                                                            </div>
                                                                         </div>
                                                                         <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                         <div class="form-group">
                                                                            <label for="input-id-1">Email:</label>
                                                                            <div>
                                                                               <input type="text" class="form-control" id="input-id-1" disabled="disabled" value="shiva@texasreview.in">
                                                                            </div>
                                                                         </div>
                                                                         <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                         <div class="form-group">
                                                                            <label>Test Date:</label>
                                                                            <div>
                                                                               <input type="text" class="datepicker-input border form-control" name="testDate" id="testdate" value="2018-01-31" data-trigger="change" data-type="dateIso" data-date-format="yyyy-mm-dd" data-required="true">
                                                                            </div>
                                                                            <span id="dat" style="color: red;"></span>
                                                                         </div>
                                                                         <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                         <div class="form-group">
                                                                            <label>Previous Math Score:</label>
                                                                            <div>
                                                                               <input type="number" class="form-control" data-trigger="change" data-required="true" data-type="number" placeholder="Math Target Score" value="170" min="140" max="170" name="targetMathScore">
                                                                            </div>
                                                                         </div>
                                                                         <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                         <div class="form-group">
                                                                            <label>Previous Verbal Score:</label>
                                                                            <div>
                                                                               <input type="number" class="form-control" data-trigger="change" data-required="true" data-type="number" placeholder="Verbal Target Score" min="140" max="170" value="170" name="targetVerablScore">
                                                                            </div>
                                                                         </div>
                                                                         <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                         <div class="form-group">
                                                                            <label>Target Score:</label>
                                                                            <div>
                                                                               <input type="number" class="form-control" data-trigger="change" data-required="true" value="340" data-type="number" placeholder="Actual Score" min="260" max="340" name="previouScore">
                                                                            </div>
                                                                         </div>
                                                                         <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                         <div class="form-group">
                                                                            <label>Phone Number:</label>
                                                                            <div>
                                                                               <input type="text" class="form-control" data-trigger="change" data-required="true" data-type="phone" maxlength="10" placeholder="Phone No" value="7032010745" name="mobile" id="contact" data-minlength="10" data-maxlength="10">
                                                                            </div>
                                                                         </div>
                                                                         <div class="line line-dashed b-b line-lg pull-in"></div>
                                                                         <div class="form-group">
                                                                            <label>City</label>
                                                                            <div>
                                                                               <input type="text" class="form-control" placeholder="City/Town" name="city" id="state" value="hyd" data-type="alpha" data-required="true">
                                                                            </div>
                                                                         </div>
                                                                      </div>
                                                                      <div class="col-sm-6">
                                                                         <div class="picBox col-md-offset-3">
                                                                            <div class="pic" id="pic">
                                                                               <img src="assets/images/user2-160x160.jpg" alt="User Image">
                                                                            </div>
                                                                            <!-- The global progress bar -->
                                                                            <div id="progress" class="progress" style="display: none">
                                                                               <div class="progress-bar progress-bar-success"></div>
                                                                            </div>
                                                                            <div class="alert" style="display: none"></div>
                                                                         </div>
                                                                         <br>
                                                                         <div class="form-group" style="position: relative;left: 44px;">
                                                                            <span class="btn btn-primary btn-flat fileinput-button"> <i class="fa fa-upload"></i><span>Upload</span> 
                                                                            </span>
                                                                         </div>
                                                                      </div>
                                                                      <div class="form-group" style="position: relative; right: 58px;">
                                                                         <div class="col-sm-offset-2 col-sm-5">
                                                                            <button type="button" class="btn btn-success" id="updateinfo">Update</button>
                                                                         </div>
                                                                      </div>
                                                                      <div class="useralert text-center" style="display: none"></div>
                                                                   </div>
                                                                </form>
                                                             </div>
                                                          </div>
                                                          <div class="tab-pane fade" id="tab2primary">
                                                             <div class="col-sm-6 col-sm-offset-3">
                                                                <form id="cpass" class="bs-example form-horizontal">
                                                                   <div class="form-group">
                                                                      <label class="">Current Password</label>
                                                                      <div class="">
                                                                         <input type="password" class="form-control" placeholder="Current Password" name="curpassword" id="curpass" required="true">
                                                                      </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                      <label class="">New Password</label>
                                                                      <div class="">
                                                                         <input type="password" class="form-control" placeholder="New Password" name="password" id="regpass" required="true">
                                                                         <span id="regpassError"></span>
                                                                      </div>
                                                                   </div>
                                                                   <div class="form-group">
                                                                      <label class="">Confirm Password</label>
                                                                      <div class="">
                                                                         <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword" id="conformPassword" required="true">
                                                                      </div>
                                                                   </div>
                                                                   <hr>
                                                                   <div class="form-group">
                                                                      <div class="">
                                                                         <button type="button" class="btn btn-success" id="changepassword">Change Password</button>
                                                                      </div>
                                                                   </div>
                                                                   <div class="chnagepassalert text-center" style="display: none"></div>
                                                                </form>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>

                            <script type="text/javascript">
                               //datepicker
                               $(".datepicker-input").each(function(){ $(this).datepicker();});
                               
                               $(":file").change(function () {
                                   //alert('dfdfdsff');
                                   if (this.files && this.files[0]) {
                                       var reader = new FileReader();
                                       reader.onload = imageIsLoaded;
                                       reader.readAsDataURL(this.files[0]);
                                   }
                               });
                               
                               function imageIsLoaded(e) {
                                   ///alert(e.target.result);
                                        $('#pic').html('').html('<img src="'+e.target.result+'"/>');
                               };
                               
                               $(function() {
                                   upload("#fileupload", '[name="url"]', "profile");
                                   
                                   $('#updateinfo').on('click', function() {
                                       //console.log("user data is", $("#form").serialize())
                                       $.ajax({
                                           url : appContext + "/account/updateUserProfile",
                                           data : $('form').serialize(),
                                           success : function(data) {
                                               toastr.success("Success","Profile Updated Successfully!");
                                               //$('.useralert').addClass('alert-success').show().empty().html('Information Updated!').fadeOut(3000)
                                           }
                                       });
                                   });
                               
                                   $('#changepassword').on('click', function() {
                                       if ($('[name="password"]').val() != '' && $('[name="cpassword"]').val() != '') {
                                           if ($('[name="password"]').val() != $('[name="cpassword"]').val()) {
                                               $('.chnagepassalert').addClass('alert-success').show().empty().html("Passwords don't match. Please try again.").fadeOut(3000);
                                               $('[name="cpassword"]').val('');
                                           }
                                           else {
                                               $.ajax({
                                                   url : appContext + "/account/changepassword",
                                                   data : {
                                                       password : $('[name="password"]').val(),
                                                       curpassword : $('[name="curpassword"]').val()
                                                   },
                                                   success : function(data) {
                                                       if (data == 'SUCCESS')
                                                           $('.chnagepassalert').addClass('alert-success').show().empty().html('Password updated!').fadeOut(3000)
                                                       else
                                                           $('.chnagepassalert').addClass('alert-warning').show().empty().html(data).fadeOut(3000)
                                                   }
                                               });
                                           }
                                       } else {
                                           $('.chnagepassalert').addClass('alert-warning').show().empty().html('Please enter a password').fadeOut(3000)
                                       }
                                   });
                               });
                            </script>
                         </div>
              
              </div>
             
      <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
     <!-- <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io/">Almsaeed Studio</a>.</strong> All rights
        reserved.
      </footer>  -->
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
    
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
    
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
    
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
    
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
    
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
    
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
             
            </ul>
            <!-- /.control-sidebar-menu -->
    
            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->
    
          </div>
          <!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
          <!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
    
                <p>
                  Some information about this general settings option
                </p>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked>
                </label>
    
                <p>
                  Other sets of options are available
                </p>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked>
                </label>
    
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div>
              <!-- /.form-group -->
    
              <h3 class="control-sidebar-heading">Chat Settings</h3>
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right">
                </label>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div>
              <!-- /.form-group -->
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

</body>