<h2 class="page-header">Lesson</h2>
<form (submit)="onLessonSubmit()">
  
  <div class="form-group">
    <label>Lesson Name</label>
    <input type="text" [(ngModel)]="lessonname" name="username" class="form-control">
  </div>
  <div class="form-group">
    <label>Category</label>
    <input type="text" [(ngModel)]="lessonCategoryname" name="username" class="form-control">
  </div>
  <div class="form-group">
    <label>Question</label>
    <input type="text" [(ngModel)]="question1" name="question1" class="form-control">
  </div>
  <div class="form-group">
    <label>Answer</label>
    <input type="text" [(ngModel)]="answer1" name="answer1" class="form-control">
  </div>
  <div class="form-group">
    <label>Question</label>
    <input type="text" [(ngModel)]="question2" name="question2" class="form-control">
  </div>
  <div class="form-group">
    <label>Answer</label>
    <input type="text" [(ngModel)]="answer2" name="answer2" class="form-control">
  </div>
  <div class="form-group">
    <label>Question</label>
    <input type="text" [(ngModel)]="question3" name="question3" class="form-control">
  </div>
  <div class="form-group">
    <label>Answer</label>
    <input type="text" [(ngModel)]="answer3" name="answer3" class="form-control">
  </div>
  <div class="form-group">
    <label>Question</label>
    <input type="text" [(ngModel)]="question4" name="question4" class="form-control">
  </div>
  <div class="form-group">
    <label>Answer</label>
    <input type="text" [(ngModel)]="answer4" name="answer4" class="form-control">
  </div>
  <div class="form-group">
    <label>Question</label>
    <input type="text" [(ngModel)]="question5" name="question5" class="form-control">
  </div>
  <div class="form-group">
    <label>Answer</label>
    <input type="text" [(ngModel)]="answer5" name="answer5" class="form-control">
  </div>

  <input type="submit" class="btn btn-primary" value="Submit">
</form>
