<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    
      <header class="main-header">
        <!-- Logo -->
        <a routerLink="/start" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><img src="../assets/images/gtsoft.png"></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>GT</b>SOFTPREP</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
    
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <!-- end message -->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user3-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Sales Department
                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="../assets/images/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                          page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
                                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="../assets/images/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{this.email}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
    
                    <p>
                     {{this.email}}
                    </p>
                  </li>
                 
                  <li class="user-footer">
                    <div class="pull-left">
                            <a routerLink="/profile" class="btn btn-default btn-flat" style="color: white;
                            background: orange;border: 1px solid orange;">Profile</a>
                    </div>
                    <div class="pull-right">
                            <a (click)="logout()" class="btn btn-default btn-flat" style="color: white;
                            background: #00a65a;border: 1px solid #00a65a;">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{this.username}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
        
         
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
              <a routerLink="/dashboard">
                <i class="fa fa-home"></i> <span>Home</span>
              </a>
            
            </li>
            <li class="treeview">
              <a routerLink="/lessons">
                <i class="fa fa-files-o"></i>
               <span>Lessons</span>              
              </a>
            </li>
            <li>
              <a routerLink="/videos">
                <i class="fa fa-video-camera" aria-hidden="true"></i> <span>Videos</span>
                <span class="pull-right-container">
                  <small class="label pull-right bg-green">new</small>
                </span>
              </a>
            </li>
            <li class="treeview">
              <a routerLink="/practicetest">
                <i class="fa fa-bullhorn"></i>
                <span>Practice Test</span>
              </a>            
            </li>
            <li class="treeview">
              <a routerLink="/full-length">
                <i class="fa fa-edit"></i>
                <span>Full Length Test</span>              
              </a> 
            </li>
            <li class="treeview">
              <a routerLink="/review">
                <i class="fa fa-bar-chart-o"></i> <span>Review</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a routerLink="/"><i class="fa fa-circle-o"></i> Practice Analysis</a></li>
                <li><a routerLink="/"><i class="fa fa-circle-o"></i> Test Analysis</a></li>
                <li><a routerLink="/"><i class="fa fa-circle-o"></i> Session Review</a></li>
              </ul>
            </li>
         
            <li>
              <a routerLink="/">
                <i class="fa fa-calendar"></i> <span>Calendar</span>      
              </a>
            </li>
            <li>
              <a routerLink="/">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
              </a>
            </li>
            <li class="treeview">
              <a routerLink="/feed-back">
                <i class="fa fa-comment"></i> <span>Feed-Back Form</span>             
              </a>
            </li>
           
            <li><a routerLink="softprep.in"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
           
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
    
    <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper" style="height: 537px">
            <section class="content-header">
              <h1>
                Dashboard
                
              </h1>
              <ol class="breadcrumb">
                <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
              </ol>
            </section>
            <div class="container" style="padding: 19px; height: 58px;">
              <div class="box-header test_header_bg">    
                <div class="col-sm-2">
                  <div>
                      <p>Question {{pager.index + 1}} of {{pager.count}}.</p>
                  </div>
                </div>    
                  <div class="col-sm-7 pull-right">
                          <div class="dib pl_20">
                <a href="Javascript:void(0)" class="btn-link-toggler flag-hide" id="flg">
        <i class="fa fa-flag text-active flag-icon" style="color: white"></i>
      </a>
                              </div>
                              <div class="dib pl_20">
       
          <a href="Javascript:void(0)" class="btn btn-primary btn-outline btn-sm " id="showCalc" style="margin: 0 10px;">
            <i class="fa fa-calculator"></i> Calculator
          </a>
         <div id="main" class="draggable ui-widget-content" style="position: absolute; z-index: 1; right: 50px; display: none;">
<header class=" bg-primary text-center font-bold">Calculator</header>
<input id="Result" name="Result" class="input form-control" readonly="readonly" style="background-color: #fff">
<div id="keys" style="position: absolute;">
<div id="FirstRow" style="height:34px !important">
<div style="width: 100%;">
<div class="btn-group btn-group-justified">
<button id="ClearAll" type="reset" value="CE" class="clean btn btn-primary ce">CE</button>
<button id="Clear" type="reset" value="C" class="clean btn btn-primary ce">C</button>
<button id="transfer" type="button" value="transfer" class="transferclass btn btn-info trans">Use</button>
</div>
</div>
</div>

<div id="SecondRow" style="height:34px !important">
<div style="width: 100%;">
<div class="btn-group btn-group-justified">
<button id="One" type="button" value="1" class="Show btn btn-primary butns">1</button>
<button id="Two" type="button" value="2" class="Show btn btn-primary butns">2</button>
<button id="Three" type="button" value="3" class="Show btn btn-primary butns">3</button>
<button id="Sub" type="button" value="-" class="operators operand btn btn-primary butnss">-</button>
</div>
</div>
</div>

<div id="ThirdRow" style="height:34px !important">
<div style="width: 100%;">
<div class="btn-group btn-group-justified">
<button id="Four" type="button" value="4" class="Show btn btn-primary butns">4</button>
<button id="Five" type="button" value="5" class="Show btn btn-primary butns">5</button>
<button id="six" type="button" value="6" class="Show btn btn-primary butns">6</button>
<button id="Mul" type="button" value="*" class="operators operand btn btn-primary butnss">*</button>
</div>
</div>
</div>

<div id="FourthRow" style="height:34px !important">
<div style="width: 100%;">
<div class="btn-group btn-group-justified">
<button id="Seven" type="button" value="7" class="Show btn btn-primary lter butns">7</button>
<button id="Eight" type="button" value="8" class="Show btn btn-primary butns">8</button>
<button id="Nine" type="button" value="9" class="Show btn btn-primary butns">9</button>
<button id="Divide" type="button" value="/" class="operators operand btn btn-primary butnss">/</button>
</div>
</div>
</div>

<div id="FifthRow" style="height:34px !important">
<div style="width: 100%;">
<div class="btn-group btn-group-justified">
<button id="Zero" type="button" value="0" class="Show btn btn-primary butns">0</button>
<button id="Dot" type="button" value="." class="Show btn btn-primary butns">.</button>
<button id="Add" type="button" value="+" class="operators operand btn btn-primary butns">+</button>
<button id="Calculate" type="button" value="=" class="operand btn btn-primary butnss">=</button>
</div>
</div>
</div>

<div id="SixthRow" style="height:34px !important">
<div style="width: 100%;">
<div class="btn-group btn-group-justified">
<button id="closeBtn" type="button" class="clean btn btn-primary butns" style="min-width: 158px">Close</button>
</div>
</div>
</div>
</div>
</div>

    </div>
            <div class="dib pl_20">										 	    
                <i class="fa fa-clock-o"></i> 
                    <span class="btn-test" style="vertical-align: text-top;">
                        <span id="timechan">Total Time</span>
                        <span> {{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}}</span>
                    </span>
         </div>
         <div class="dib pl_20">										 	    
         <i class="fa fa-clock-o"></i> <span class="btn-test" style="vertical-align: text-top;">Question Time: <span id="questionTime1">00:05:08</span></span>
         </div>
                  </div>
              </div>

              <div id="wizard" class="content wizard clearfix" role="application">
                  <div class="actions clearfix" style="    background: white;">
                      <div class="col-xs-12" style="padding: 15px 7px 10px;">
                          <div class="checkbox i-checks side-left" style="margin:0; float:left;">
                              <label>
                                <input type="checkbox" id="showExp"><i></i>Show Answers After Submit
                              </label>
                          </div>
                      <div class="checkbox i-checks side-right" style="margin:0; float:right;"><label>
                      <input type="checkbox" id="mrk"><i></i>Mark as guessed</label>
                      </div>
                      </div>
                      <ul class="buttons" role="menu" aria-label="Pagination">
                      <hr style="width: 100%; margin-bottom: 1%;margin-top: 5%;">
                      <li aria-disabled="false" class="btn" (click)="goTo(pager.index + 1);" style="position: relative;bottom: 8px;">
                      <a role="menuitem">
                      <i class="fa fa-arrow-right"></i> Submit Answer</a>
                    </li>
                      <li aria-disabled="false"><a href="#finish" role="menuitem"><i class="fa fa-close"></i> End Practice</a></li>
                      <li><a href="#cancel" role="menuitem"><i class="fa fa-warning"></i>Skip Question</a></li>
                      </ul>
                      </div>

              </div>
              <div class="col-xs-12" style="margin-bottom: 15px; margin-top: 15px;background: white;">
                  <h4 style="color: #34495E"><b>Instructions: </b></h4>
                </div>
              <div class="question-area" style="padding: 0 0px;">
                  <div id="quiz">
           
                      <hr />
                    
                      <div *ngIf="mode=='quiz' && quiz" style="height: 200px;background: white;">
                          <div *ngFor="let question of filteredQuestions;">
                              <div class="col-md-12">
                                  <div class="col-md-6" style="height: 160px; overflow-y: auto;font-family: sans-serif;font-size: 14px; border-right: 2px dotted cornflowerblue;position: relative;">
                                      <div class="col-md-10" *ngIf="question.questionTypeId == 1">
                                      <p style="font-weight: bold;font-size: 15px;color: #34495E">{{pager.index + 1}} .
                                          <span [innerHTML]="question.name" style="text-align: justify;line-height: 26px;height: 100px"></span>
                                      </p>

                                      <div class="col-md-6">
                                          <p style=" font-size: 15px;font-weight: bold;color: #34495E;"><span [innerHTML]="question.title"></span></p>
                                            <p style="padding: 10px 28px;font-size: 14px;color: #34495E;">{{question.colA}}</p>
                                        </div>
                                      <div class="col-md-6">
                                          <p style=" font-size: 14px;font-weight: bold;color: #34495E;"> <span [innerHTML]="question.title1"></span></p>
                                          <p style="font-size: 16px;color: #34495E; padding: 10px 0px;">{{question.colB}}</p>
                                      </div>
                                    </div>
                                  </div>
                                  
                        
                                  <div class="options">
                                      <div class="col-md-6" *ngFor="let option of question.options">
                                          <div *ngIf="question.questionTypeId == 1">
                                          <div class="option">
                                            <label class="" [attr.for]="option.id">
                                                <div class="pract radio i-checks">
                                                    <label>
                                                       <input type="radio" name="173" class="radioS"><i></i>
                                                         {{option.name}}
                                                    </label>
                                                 </div>
                                            </label>
                                          </div>
                                        </div>
                                        </div>
                                    </div>
                              </div>
                            </div>
                            
                       
                        <div class="text-sm-center">
                          
                          <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
                        </div>
                      </div>
                    
                      <div class="row review" *ngIf="mode=='review'">
                        <div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">
                          <div (click)="goTo(index)" class="{{ isAnswered(index) == 'Answered'? 'answered': 'not-answered' }}">{{index + 1}}. {{ isAnswered(index) }}</div>
                        </div>
                      </div>
                  
                    </div>


              </div>

              
              
            </div>
    </div>
      <!-- /.content-wrapper -->
     <!-- <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.4.0
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io/">Almsaeed Studio</a>.</strong> All rights
        reserved.
      </footer>  -->
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
    
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
    
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-user bg-yellow"></i>
    
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
    
                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
    
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
    
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
             
            </ul>
            <!-- /.control-sidebar-menu -->
    
            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
    
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->
    
          </div>
          <!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
          <!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
    
                <p>
                  Some information about this general settings option
                </p>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked>
                </label>
    
                <p>
                  Other sets of options are available
                </p>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked>
                </label>
    
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div>
              <!-- /.form-group -->
    
              <h3 class="control-sidebar-heading">Chat Settings</h3>
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right">
                </label>
              </div>
              <!-- /.form-group -->
    
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div>
              <!-- /.form-group -->
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
		     <!-- Main Footer -->
      <footer class="main-footer ">
        <div class="wrapper center-block">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="border-radius: 5px;">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true" style="    font-size: 35px;
                        position: relative;
                        bottom: 24px;
                        right: 2px;"></i>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="container test_dashboard text-center" style="width: 1100px">
                        <div class="row text_white">
                                <div class="main_dashboard" style="display: block;">                      
                                <div class="col-sm-3">
                                    <strong>Skills</strong><br><br>
                                    <span class="sk"><button class="btn btn-primary btn-outline btn-sm">Arithmetic</button></span>
                                </div>
                                <div class="col-sm-3">
                                        <strong>Difficulty Level</strong><br><br>
                        <span class="lvl"> 
                             
                                <img src="http://softprep.in/theme/images/star-on.png" id="s0">
                            
                                <img src="http://softprep.in/theme/images/star-on.png" id="s1">
                            
                                <img src="http://softprep.in/theme/images/star-off.png" id="s2">
                            
                        </span>
                                </div>
                                <div class="col-sm-3">
                                    <h3 class="go">49%</h3>
                                Got it right
                                </div>
                                <div class="col-sm-3">
                                <h3 class="av">00:00:52</h3>
                               Average time
                                </div>
                                </div>
                        </div>
                        </div>
                </div>
              </div>
            </div>
           
            
          </div>
          </div>
      </footer>
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

</body>